<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Library</title>
<link rel="stylesheet" type"text/css" href="static/styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

