html,
body {
	margin: 0;
	padding: 0;
	background-color: #9b9b9b;
	width: auto;
}

nav {}

main {
	width: auto;
}

div {
	z-index: -5;
}

div img {
	width: 10vw;
	filter: invert(100%);
}

.book {
	position: absolute;
	z-index: 1;
	transition: transform 0.2s;
}

.book img {
	width: 65vw;
	min-height: 100vw;
	max-height: 100vw;
}

.book figcaption {
	display: none;
}

footer {}