html,
body {
	margin: 0;
	padding: 0;
	background-color: #9b9b9b;
	width: auto;
}

nav {
	height: 7vh;
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

main {
	width: auto;
	margin-top: 10vh;
}

div {
	z-index: -5;
}

div img {
	width: 10vw;
	filter: invert(90%);
}

section {
	/*
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
*/
}

.book {
	position: absolute;
	z-index: 1;
	transition: transform 0.2s;
}

.book img {
	width: 65vw;
	min-height: 100vw;
	max-height: 100vw;
}

.book figcaption {
	display: none;
}

footer {}